{% extends 'base.html' %}

{% block titulo %}Mis favoritos | AnimeWeb{% endblock %}

{% block contenido %}

<section>

    <div class="seccion-titulo">

        <h1>Mis favoritos</h1>

        <p>
            Los animes que guardaste en tu cuenta.
        </p>

    </div>


    <div class="anime-grilla">

        {% for fav in favoritos %}

            <article class="anime-tarjeta">

                <img
                    class="anime-imagen"
                    src="{{ fav.imagen }}"
                    alt="{{ fav.titulo }}"
                >

                <div class="anime-info">

                    <h3>
                        {{ fav.titulo }}
                    </h3>

                    <form
                        method="post"
                        action="{% url 'quitar_favorito' fav.anime_id %}"
                    >

                        {% csrf_token %}

                        <button
                            class="btn btn-perigo"
                            type="submit"
                        >
                            Quitar de favoritos
                        </button>

                    </form>

                </div>

            </article>

        {% empty %}

            <p>
                Todavía no agregaste ningún favorito.
            </p>

        {% endfor %}

    </div>

</section>

{% endblock %}
